Repository googleapis/python-containeranalysis, pull requests merged in 2021-03, with the labels that each got.

#96 test: install pyopenssl for mtls testing
  noxfile.py
  synth.metadata
Labels: api: containeranalysis, automerge, cla: yes, context: full

#97 chore: upgrade gapic-generator-python to 0.42.2
  google/cloud/devtools/containeranalysis_v1/services/container_analysis/client.py
  synth.metadata
Labels: api: containeranalysis, cla: yes, context: full

#99 chore: add pre-commit-config to renovate ignore paths
  renovate.json
  synth.metadata
Labels: api: containeranalysis, cla: yes, context: full

#104 fix: effective_severity attribute error
  samples/snippets/samples.py
Labels: api: containeranalysis, cla: yes, samples
